
rpg-mob {
  text-align: center;
  width:100%;
}

rpg-mob > * {
  width:100%;
}

rpg-mob > [screen]:state(active) {
  display: grid;
}

rpg-mob > [screen]:state(inactive) {
  display: none;
}


rpg-mob > * > * {
  display:block;
  margin: auto;
}
